/target/
*/target/**

#.idea
.idea/workspace.xml
.idea/*.*
*/.idea/*.*
.idea/
idea/
.metadata
.metadata
*.iws
*.iml
*.ipr

#screenshots
/src/main/screenshot
FailedTestsScreenshots/

# other branch
../CommanderN/

#chormeDriver
src/main/resources/chromedriver.exe
